server {
  listen 80 default_server;
  location ^~ /.well-known/acme-challenge/ { root /var/lib/acme; }
  location / { return 301 https://$host$request_uri; }
}
server {
  listen 443 ssl default_server;
  ssl_certificate /etc/nginx/tls/fullchain.pem;
  ssl_certificate_key /etc/nginx/tls/privkey.pem;
  ssl_protocols TLSv1.2 TLSv1.3;
  location / {
    proxy_pass http://{{ app_private_ip }}:8080;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto https;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}
