[arp]
pg1-host={{ db_private_ip }}
pg1-host-user=postgres
pg1-path=/srv/postgresql/data

[global]
repo1-path=/srv/backup/pgbackrest
repo1-retention-full=2
start-fast=y
process-max=2
log-level-console=info
