DB_URL=jdbc:postgresql://{{ db_private_ip }}:5432/arp
DB_USERNAME=arp_app
DB_PASSWORD={{ db_app_password }}
GARAGE_ENDPOINT=http://{{ garage_endpoint_ip }}:{{ garage_s3_port }}
GARAGE_BUCKET={{ garage_bucket }}
GARAGE_REGION=garage
GARAGE_ACCESS_KEY={{ garage_app_access_key }}
GARAGE_SECRET_KEY={{ garage_app_secret_key }}
GARAGE_PATH_STYLE=true
SERVER_PORT=8080
